{% extends 'layout.html' %}
{% load static %}

{% block title %}Live Game{% endblock title %}

{% block cdn %}
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>  
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
    <script type="module" src={% static 'js/game.js' %}></script>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class = "nav-link active" href = "/">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/rules">Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/completed">Completed</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/accounts/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"><b>Hello, {{ user.username }}</b></a>
        </li>
    </ul>
{% endblock navbar %}

{% block body %}
    <div id="main-container" class="container">
        <!-- Opponent Captured Pieces -->
        <div class = "row">
            <div class="col" style = " max-height: 700px;">
                <div id="white-captured-con" class="d-flex flex-row text-white">
                    <p>AI captured pieces:</p>
                </div>
            </div>
        </div>

        <!-- Center Game Row -->
        <div class="row">
            <!-- Roll Indicator -->
            <div class="col-sm border border-dark bg-white">
                <p class="text-center fs-4">Attacking</p>
                <img id="attacking-piece" src="{% static '/Chessboard/wB.png' %}" alt="attacking piece" style="width: 125px; visibility: hidden;" class="displayed rounded mx-auto d-block">
                <p class="text-center subtitle is-4">Waiting for Attack!</p>
                <img src="{% static '/dice/dice_3.png' %}" alt="dice" style="width: 125px;" class="displayed rounded mx-auto d-block dice" id="die">
                <img id="defending-piece" src="{% static '/Chessboard/bN.png' %}" alt="defending piece" style="width: 125px; visibility: hidden;" class="displayed rounded mx-auto d-block">
                <p class="text-center fs-4">Defending</p>
            </div>
    
            <!-- Game Board -->
            <div id="my_board" style="width: 650px"></div>

            <!-- Move Log -->
            <div id="move_log" class="col-sm border border-dark bg-white overflow-auto" style = " max-height: 700px;">
                <p class="text-center fs-4">Move Log</p>
            </div>
        </div>
        
        <!-- Player Captured Pieces -->
        <div class = "row">
            <div class = "col">
                <div id="black-captured-con" class="d-flex flex-row text-white">
                    <p>Player captured pieces:</p>
                </div>
            </div>
        </div>
        
        <!-- Game Modal -->
        <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-title">Please wait...</h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-body">Wait for your opponent to connect to the game</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/" class="btn btn-danger">Return to Lobby</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Rule Modal -->
        <div class="modal fade" id="ruleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title" id="ruleModalTitle">Rules</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <img src="{% static 'rules/0001.jpg' %}" class = "img-fluid justify-content-center padding-top"/>
                            <img src="{% static 'rules/0002.jpg' %}" class = "img-fluid justify-content-center padding-top"/>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Delegate Modal -->
        <div class="modal fade" id="delegateModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delegateModalTitle">King Delegation Action</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-around">
                            <!-- First dropdown selects the under_command of kingCorp to delegate (once per turn) -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="kingDelegateMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Which Unit
                                </button>
                                <div class="dropdown-menu" aria-labelledby="kingDelegateMenuButton"></div>
                            </div>
                            <!-- Second the target delegation corp (only bishops, limit 6 under_command) -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="targetCorpMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Target Corp
                                </button>
                                <div class="dropdown-menu" aria-labelledby="targetCorpMenuButton"></div>
                            </div>
                            <!-- Indicators to show when/why delegations not allowed -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- Add delegation confirmation button -->
                        <button class="btn btn-danger" id="confirmDelegate">Confirm</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Resign Modal -->
        <div class="modal fade" id="resignModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="resignModalTitle">Confirm</h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-body">Are you sure you want to resign this game?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="yesRes">Yes</button>
                        <button class="btn btn-success" id="noRes">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Button Row -->
        <div class ="row justify-content-around">
            <a data-toggle="modal" data-target="#ruleModal"><button type="button" class = "btn btn-primary btn-sm">Rules</button></a>
            <a data-toggle="modal" data-target="#delegateModal"><button type="button" class="btn btn-success btn-sm">Delegate</button></a>
            <button type="button" class="btn btn-warning btn-sm">Pass</button>
            <a data-toggle="modal" data-target="#resignModal"><button id="resign" type="button" class="btn btn-danger btn-sm">Resign</button></a>
        </div>

    </div>
{% endblock body %}