{% extends 'layout.html' %}
{% load static %}

{% block title %}Live Game{% endblock title %}

{% block cdn %}
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js" integrity="sha512-B4skI5FiLurS86aioJx9VfozI1wjqrn6aTdJH+YQUmCZum/ZibPBTX55k5d9XM6EsKePDInkLVrN7vPmJxc1qA==" crossorigin="anonymous"></script>  
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js" integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD" crossorigin="anonymous"></script>
    <script type="module" src={% static 'js/game.js' %}></script>
{% endblock %}

{% block navbar %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class = "nav-link active" href = "/">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/rules">Rules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/completed">Completed</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/accounts/logout">Logout</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"><b>Hello, {{ user.username }}</b></a>
        </li>
    </ul>
{% endblock navbar %}

{% block body %}
    <div class="container">
        <!-- Opponent Metadata -->
        <div class="row justify-content-between">
            <!-- Opponent Captured Pieces -->
            <div class="d-flex flex-row justify-content-start align-items-center text-white" style="max-width: 50%">
                <p class="mb-0">{{opp_username}}'s captured pieces:</p>
                <div id="opp-captured-con" class="d-flex flex-wrap text-white"></div>
            </div>
            <!-- Opponent Remaining Command Auth -->
            <div class="d-flex flex-column flex-fill justify-content-end" style="max-width: 50%">
                <p class="text-white">Authority Remaining:</p>
                <div id="opp-command-auth" class="d-flex flex-row justify-content-around text-white">
                    <p id="oppLBAuth">Left Bishop: #</p>
                    <p id="oppKAuth">King: #</p>
                    <p id="oppRBAuth">Right Bishop: #</p>
                </div>
            </div> 
        </div> 

        <!-- Center Game Row -->
        <div class="row mx-100">
            <!-- Roll Indicator -->
            <div class="col-3 px-0">
                <div id="roll-indicator" class="card h-100">
                    <div class="card-header">Roll Indicator</div>
                    <div class="card-body">
                        <p class="text-center fs-4">Attacking</p>
                        <img id="attacking-piece" src="{% static 'chessboard/wB.png' %}" alt="attacking piece" style="visibility: hidden;" class="displayed rounded mx-auto d-block">
                        <p class="text-center subtitle is-4">Waiting for Attack!</p>
                        <img src="{% static 'dice/dice_3.png' %}" alt="dice" class="displayed rounded mx-auto d-block dice" id="die">
                        <img id="defending-piece" src="{% static 'chessboard/bN.png' %}" alt="defending piece" style="visibility: hidden;" class="displayed rounded mx-auto d-block">
                        <p class="text-center fs-4">Defending</p>
                    </div>
                </div>
            </div>
    
            <!-- Game Board -->
            <div class="col-6">
                <div id="my_board" class="justify-self-center align-self-center"></div>
            </div>

            <!-- Right Side Column -->
            <div class="col-3 px-0">
                <!-- Move Log -->
                <div id='moves' class="card mh-50 h-50">
                    <div class="card-header">Move Log</div>
                    <div id="move_log" class="card-body py-2 position-absolute overflow-auto" style="max-height: 75%; max-width: 98%; bottom: 1rem;">
                        {% for a in actions %}<div class=""><b>{{ a.id }}</b>: {{ m.content }}<br></div>{% endfor %}
                    </div>
                </div>
                
                <!-- Chat Room -->
                <div id="chat" class="card mh-50 h-50 position-absolute">
                    <div class="card-header">Lobby Chat</div>
                    <div id="chat-messages" class="card-body overflow-auto">
                        {% for m in chat_messages %}<b>{{ m.user.username }}</b>: {{ m.content }}<br>{% endfor %}
                    </div>
                    <div class="card-footer">
                        <input id="chat-input" type="text" placeholder="Type message here...">
                        <button id="chat-submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Player Metadata -->
        <div class="row justify-content-between">
            <!-- Player Captured Pieces -->
            <div class="d-flex flex-row justify-content-start align-items-center text-white" style="max-width: 50%">
                <p class="mb-0">{{player_username}}'s captured pieces:</p>
                <div id="player-captured-con" class="d-flex flex-wrap text-white"></div>
            </div>
            <!-- Player Remaining Command Auth -->
            <div class="d-flex flex-column flex-fill justify-content-end" style="max-width: 50%">
                <p class="text-white">Authority Remaining:</p>
                <div id="player-command_auth" class="d-flex flex-row justify-content-around text-white">
                    <p id="playerLBAuth">Left Bishop: #</p>
                    <p id="playerKAuth">King: #</p>
                    <p id="playerRBAuth">Right Bishop: #</p>
                </div>
            </div>
        </div>

        <!-- Bottom Button Row -->
        <div class ="row justify-content-around">
            <a data-toggle="modal" data-target="#ruleModal"><button type="button" class = "btn btn-primary btn-sm">Rules</button></a>
            <a data-toggle="modal" data-target="#delegateModal"><button id="delegate" type="button" class="btn btn-success btn-sm">Delegate</button></a>
            <a data-toggle="modal" data-target="#passModal"><button id="pass" type="button" class="btn btn-warning btn-sm">Pass</button></a>
            <a data-toggle="modal" data-target="#resignModal"><button id="resign" type="button" class="btn btn-danger btn-sm">Resign</button></a>
        </div>
        
        <!-- Game Modal -->
        <div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="game-modal-title">Please wait...</h4>
                    </div>
                    <div class="modal-body">
                        <p id="game-modal-body">Wait for your opponent to connect to the game</p>
                    </div>
                    <div class="modal-footer">
                        <a href="/" class="btn btn-danger">Return to Lobby</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Rule Modal -->
        <div class="modal fade" id="ruleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title" id="ruleModalTitle">Rules</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            <img src="{% static 'rules/0001.jpg' %}" class = "img-fluid justify-content-center padding-top"/>
                            <img src="{% static 'rules/0002.jpg' %}" class = "img-fluid justify-content-center padding-top"/>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Delegate Modal -->
        <div class="modal fade" id="delegateModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="delegateModalTitle">King Delegation Action</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <!-- First dropdown selects the under_command of kingCorp to delegate (once per turn) -->
                            <div class="form-group" id="kingDelegateMenuContents">
                            </div>
                            <!-- Second the target delegation corp (only bishops, limit 6 under_command) -->
                            <div class="form-group" id="targetCorpMenuContents">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <!-- Add delegation confirmation button -->
                        <button class="btn btn-danger" id="confirmDelegate">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Pass Modal -->
        <div class="modal fade" id="passModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="passModalTitle">Confirm Turn Pass</h4>
                    </div>
                    <div class="modal-body">
                        <p id="pass-modal-body">Are you sure you want to pass the rest of this turn?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="yesPass">Yes</button>
                        <button class="btn btn-success" id="noPass">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Resign Modal -->
        <div class="modal fade" id="resignModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="resignModalTitle">Confirm Resign</h4>
                    </div>
                    <div class="modal-body">
                        <p id="res-modal-body">Are you sure you want to resign this game?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="yesRes">Yes</button>
                        <button class="btn btn-success" id="noRes">No</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{ game_id|json_script:"json-lobbyid" }}
    {{ request.user.username|json_script:"json-username" }}

{% endblock body %}